#{extends 'main.html' /}
#{set title:'Index' /}
<div id="sidebar-a">
		Side bar navigation goes here
		
</div>
	
	<div id="content">
	<div class="padding">
		<h2><img src="${'public/images/about.gif'}" width="54" height="14" alt="About"></h2>
		<p><strong>Enlighten Designs</strong> is an Internet solutions provider that specialises in 
		   front and back end development. To view some of the web sites we have created view our 
		   portfolio.</p>
		<p>We are currently undergoing a 'face lift', so if you have any questions or would 
		   like more information about the services we provide please feel free to contact us.</p>
		
		<h2><img src="${'public/images/contact.gif'}" width="98" height="14" alt="Contact Us"></h2>
		<p>Phone:   (07) 853 6060<br>
		Fax:     (07) 853 6060<br>
		Email:   <a href="mailto:info@enlighten.co.nz">info@enlighten.co.nz</a><br>
		P.O Box: 14159, Hamilton, New Zealand</p>
		<p><a href="#">More contact information...</a></p>
	</div>
	</div>